.contact-us {
  display: flex;
  font-weight: 700;
  margin: 0 auto;
  padding-right: 20px;
}
.contact-us li {
  padding: 0 20px;
}

.description {
  background-color: bisque;
  color: black;
  margin: 5px;
  padding: 0px 8px 4px 8px;
  position: absolute;
  white-space: nowrap;
}
.info div > .description {
  display: none;
}
.info div:hover > .description {
  display: block;
}

.gc div:hover {
  -webkit-filter: drop-shadow(3px 5px 5px black);
  filter: drop-shadow(3px 5px 5px black);
}

.info {
  color: bisque;
  font-size: 12pt;
  margin: 8px 20px 10px 40px;
}

.info:hover {
  -webkit-filter: drop-shadow(3px 5px 5px black);
  filter: drop-shadow(3px 5px 5px black);
}

.info div a {
  color: bisque;
  text-decoration: none;
}

.logo {
  border: 1px solid #ad4e4e;
  height: auto;
  width: 160px;
}

.logo:hover {
  -webkit-filter: drop-shadow(0 0 10px black);
  filter: drop-shadow(0 0 10px black);
}

.logo img {
  height: auto;
  width: 100%;
}

.navbar {
  flex-wrap: inherit;
}

.navbar-brand {
  margin: 10px 20px;
  padding: 5px;
}

.navbar-collapse {
  align-self: start;
  flex-flow: wrap;
  max-width: 666px;
}

.navbar-nav {
  align-items: center;
}

.nav-item {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-item:hover {
  box-shadow: inset 0 0 0 23px #ad4e4e;
}
.nav-item:hover .list {
  display: block;
}

.nav-link {
  font-size: 16pt;
  margin: 30px;
  text-align: center;
}

li.nav-item {
  vertical-align: center;
}

header {
  background-color: #343a40;
}

li.nav-item {
  vertical-align: center;
}

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  align-items: baseline;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* @media screen and (max-width: 1024px) {
} */

@media screen and (max-width: 768px) {
  .gc {
    position: absolute;
    margin-left: -220px;
    margin-top: -135px;
  }

  .info {
    display: none;
  }

  .logo {
    overflow: hidden;
    display: flex;
    width: 145px;
  }

  .logo img {
    height: 100%;
    width: auto;
  }

  .navbar {
    min-height: 300px;
    padding: 0;
  }

  .navbar-brand {
    align-self: flex-start;
    padding: 15px;
  }

  .navbar-expand-md {
    padding: 15px 0;
  }

  .navbar-nav {
    padding-left: 0px;
  }

  .nav-item {
    width: 200px;
  }

  .nav-link {
    letter-spacing: 2px;
  }
}
