<header>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <div class="logo">
        <img src="../assets/img/logo.jpg" />
      </div>
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/main">
            Главная
            <span class="sr-only">
              (current)
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Услуги</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio">Портфолио</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news">Новости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Вакансии</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts">
            Контакты
          </a>
        </li>
        <li>
          <div class="info">
            <div>
              <span class="material-icons">
                phone
              </span>
              8 0232 54-05-11 (руководитель)
            </div>
            <div>
              <span class="material-icons">
                phone
              </span>
              8 0232 54-23-52 (главный инженер)
            </div>
            <div>
              <span class="material-icons">
                phone
              </span>
              8 0232 54-26-98 (бухгалтерия)
            </div>
          </div>
        </li>
      </ul>
      <a class="navbar-brand gc" href="https://gomelconstruction.by/">
        <div>
          <img src="../assets/img/navbar.png" />
        </div>
      </a>
      <!--<form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Поиск
        </button>
      </form>-->
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
