<footer class="page-footer font-small unique-color-dark bg-dark">
  <div class="underline">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0"></h6>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-5 ">
    <div class="row mt-3">

      <div class="col-md-4 col-lg-4 col-xl-5 mx-auto mb-4 company">
        <h6 class="text-uppercase font-weight-bold">Наша компания</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <div class="logo">
          <img src="../../assets/img/logo.jpg" />
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4 links">
        <h6 class="text-uppercase font-weight-bold">Ссылки</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p class="nav-item active">
          <a class="nav-link" routerLink="/main">Главная</a>
        </p>
        <p class="nav-item active">
          <a class="nav-link" routerLink="/services">Услуги</a>
        </p>
        <p class="nav-item active">
          <a class="nav-link" routerLink="/contacts">Контакты</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-5 col-xl-4 mx-auto mb-md-0 mb-4 contacts">
        <h6 class="text-uppercase font-weight-bold">Наши контакты</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p>
          <i class="fa fa-home mr-3"></i>
          <a class="footer-last" href="https://yandex.by/maps/155/gomel/?from=api-maps&ll=30.974226%2C52.450600&origin=jsapi_2_1_76&z=17">246004, г. Гомель, ул. Рабочая, д. 16</a>
        </p>
        <p>
          <i class="fa fa-envelope mr-3"></i>
          <a class="footer-email" href="mailto: rsupsp@gmail.com">rsupsp@gmail.com</a>
        </p>
        <p>
          <i class="fa fa-phone mr-3"></i>
          <a href="tel: +375232540511">8 0232 54-05-11</a>
        </p>
        <p>
          <i class="fa fa-phone mr-3"></i>
          <a href="tel: +375232542352">8 0232 54-23-52</a>
        </p>
        <p>
          <i class="fa fa-phone mr-3"></i>
          <a href="tel: +375232542698">8 0232 54-26-98</a>
        </p>
        <p></p>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    © 2020 | Гомель | gvcs
  </div>
</footer>