<div class="history">
  <div class="history-space"></div>

  <div class="history-body">
    <div class="history-caption">
      <h1>
        <b>НАША ИСТОРИЯ</b>
      </h1>
    </div>
    <div class="history-text">
      <div class="history-undercaption">
        Начало трудовой биографии – 1 июля 1975 года. Гомельское ремонтно-строительное
        и монтажное управление создано приказом министра машиностроения для
        животноводства и кормопроизводства СССР от 12 мая 1975 г.
        <br/><br/>
        Гомельское ремонтно-строительное и монтажное управление переименовано в
        Строительно-монтажное управление ПО «Гомсельмаш». Приказ министра
        машиностроения для животноводства и кормопроизводства СССР от 18 июля 1986 г.
        №232.
        <br/><br/>
        В связи с принятием нового Гражданского кодекса РБ, во исполнение Декрета
        Президента от 16.03.1999 и в соответствии с приказом ПО «Гомсельмаш»
        предприятие получило новое наименование: Республиканское строительное
        унитарное предприятие «СП». Уставом предприятия определено, что предприятие
        является юридическим лицом, обладает обособленной частью государственной
        собственности, имеет самостоятельный баланс, счет в банке.
        <br/><br/>
        Строительно-монтажное управление ПО «Гомсельмаш» переименовано в
        Республиканское строительное унитарное предприятие «СП» (РСУП «СП») с
        03.03.2000. Приказ от 3 марта 2000 г. №26.
        <br/><br/>
        РСУП «СП» основано на государственной форме собственности, входит в состав ПО
        «Гомсельмаш» и находится в ведении Министерства промышленности РБ.
        <br/><br/>
        Республиканское строительное унитарное предприятие «СП» переименовано в ОАО
        «СП-Строй». Приказ от 26 сентября 2013 г. № 245 Гомельского областного
        территориального фонда государственного имущества.
        <br/><br/>
        Предметом деятельности ОАО «СП-Строй» является освоение капитальных вложений,
        выполнение ремонтно-строительных работ, изготовление сборных железобетонных
        конструкций и изделий, изготовление товарных бетонов, цементных растворов.
        <br/><br/>
        На предприятии созданы следующие подразделения: участок капитального
        строительства, участок капитального и текущего ремонта, участок кровельных
        работ, участок электромонтажных работ, участок сантехнических работ, служба
        главного механика, подсобное производство, включающее в себя цех по
        изготовлению раствора, бетона, железобетонных изделий, металлических
        конструкций, изделий деревообработки.
        <br/><br/>
        ОАО «СП-Строй» выполняет работы на объектах жилищного строительства,
        капитального и текущего ремонта. За 45 лет деятельности предприятие построило
        более двух десятков жилых домов на несколько тысяч квартир и более десятка
        объектов социально-бытового назначения.
        <br/><br/>
        За годы своей деятельности предприятие постоянно совершенствовалось, искало
        новые, более прогрессивные формы и пути хозяйствования, зарекомендовало себя
        надежным партнером и ответственным исполнителем, уделяя особое внимание
        качеству и высокой степени ответственности.
        <br/><br/>
        Профессиональные, опытные, квалифицированные сотрудники – залог успеха нашего
        предприятия!
        <br/><br/>
      </div>
    </div>
  </div>

  <div class="history-space"></div>
</div>