<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<main role="main">
  <div class="main-img">
    <div class="container">
      <div class="main-img-text">
        <h1>СП-Строй</h1>
        <h2>Производит и реализует товарные бетоны и растворы</h2>
      </div>
    </div>
  </div>

  <!-- <section class="rw-wrapper bg-dark">
    <h2 class="rw-sentence">
      <span>Real poetry is like</span>
      <span>creating</span>
      <div class="rw-words rw-words-1">
        <span>breathtaking moments</span>
        <span>lovely sounds</span>
        <span>incredible magic</span>
        <span>unseen experiences</span>
        <span>happy feelings</span>
        <span>beautiful butterflies</span>
      </div>
      <br />
      <span>with a silent touch of</span>
      <div class="rw-words rw-words-2">
        <span>sugar</span>
        <span>spice</span>
        <span>colors</span>
        <span>happiness</span>
        <span>wonder</span>
        <span>happiness</span>
      </div>
    </h2>
  </section> -->

  <div class="about-us-all">
    <div class="about-us-back">
      <div class="about-us">
        <div class="caption">
          <h1>
            О НАС
          </h1>
        </div>
        <div class="undercaption">
          <p></p>
          <p>
            До 19 ноября 2015 года в соответствии с уставом общество являлось
            дочерней компанией холдинга "Гомсельмаш". С 19 ноября 2015 года
            акции общества были переданы в коммунальную собственность Гомельской
            области – в управление государственному учреждению "Гомельское
            областное управление строительным комплексом".
          </p>
          <p></p>
          <p>
            В настоящее время ОАО "СП-Строй" представляет собой предприятие,
            имеющее:
          </p>
          <p>
            - коллектив опытных инженерно-технических работников;
          </p>
          <p>
            - квалифицированных рабочих (каменщиков, маляров, штукатуров,
            облицовщиков-плиточников, электромонтажников, плотников и др.);
          </p>
          <p>
            - современную материально-техническую базу;
          </p>
          <p>
            - необходимые производственные мощности.
          </p>
          <p></p>
          <p>
            ОАО "СП-Строй" выполняет ремонтно-строительные работы, изготовление
            сборных железобетонных конструкций и изделий, изготавливает товарные
            бетоны, цементные растворы и деревянные изделия.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
