<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<section class="container">
  <!--Contact heading-->

  <!--Contact description-->
  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ОАО "СП-Строй"<br>
        УНП 400051637<br>
        246004, Гомельская обл.,<br>
        г. Гомель, ул. Рабочая, д. 16
      </p>

      <h2 class="h4 m-0">
        Время работы:
      </h2>
      <p class="pb-0">
        пн-пт: 8:00 - 17:00<br>
        обед: 12:00 - 13:00<br>
        сб-вс: выходной
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        rsupspm@mail.gomel.by
      </p>
    </div>

    <div class="col-lg-8 map">
      <div id="yMap"></div>
    </div>

    <details class="details">
      <summary>&nbsp;&nbsp;Подробно</summary>
      <div class="pre-table">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Отдел</th>
              <th>
                <i class="fa fa-phone mr-3"></i>
                <span>телефон</span>
              </th>
              <th>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                &nbsp;&nbsp;
                <span>почта</span>
              </th>
              
              <!-- <th>
                <span class="material-icons">
                  phone_android
                </span>
                &nbsp;
                <span>мобильный</span>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Приёмная</td>
              <td>(0232) 563823</td>
              <td>rsupspm@mail.gomel.by</td>
            </tr>
            <tr>
              <td>Бухгалтерия</td>
              <td>(0232) 563821</td>
              <td></td>
            </tr>
            <tr>
              <td>Отдел снабжения</td>
              <td>(0232) 563828</td>
              <td>rsupsp@mail.gomel.by</td>
            </tr>
            <tr>
              <td>Отдел ПТО</td>
              <td>(0232) 563819</td>
              <td>rsup@mail.gomel.by</td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>
  </div>
</section>