@import "../../footer/footer.component.css";

* {
    outline: 0 !important;
}
/* Remove border and padding in Firefox */
::-moz-focus-outer,
::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.bg-dark {
    background-color: #343a40!important;
}

.col-lg-4 {
    align-self: center;
    line-height: 1.5;
    margin-top: -35px;
}

.container {
    background-color: bisque;
    margin-bottom: 10px;
    margin-top: 20px;
}

.details {
    transition: height 1s ease;
}
.details:not([open]) {
    height: 0.8em;
}
.details[open] {
    height: 16em;
}
.details[open] .pre-table {
    animation-name: invisiblyGrowFontSize, fadeIn;
    animation-duration: 500ms, 200ms;
    animation-delay: 0ms, 500ms;
}

.h4 {
    padding: 10px 0 20px 0;
    font-size: 20pt;
}

.map {
    align-content: center;
    margin: 40px 0 15px 0;
    min-height: 480px;
}

.material-icons {
    font-size: 14px;
}

.pb-0 {
    font-style: italic;
    margin-right: 40px;
    text-align: right;
}

.pre-table {
    margin: 30px 0 -8px 0;
}

.row {
    margin: 20px 0px 20px 10px;
    padding-bottom: 20px;
}

.yMap {
    margin: 0 0 15px 0;
}

#section {
    background-image: url(../../../assets/img/sp-main-3.jpg);
    background-size: cover;
}

#yMap {
    box-shadow: 0 0 0 2px black, 0 0 0 4px white, 0 0 0 12px #ad4e4e;
    height: 100%;
    width: 99%;
}

details {
    width: 99%;
}

thead {
    background-color: gray;
    color: white;
}
thead tr th {
    padding: 5px 10px 5px 10px !important;
}

summary {
    margin: -40px 0 0 100px;
    z-index: 10;
}
summary:hover {
    color: #ad4e4e;
}

@keyframes invisiblyGrowFontSize {
	0% {
        font-size: 0;
        opacity: 0;
	}
	100% {
        font-size: 1em;
        opacity: 0;
	}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 992px) {
    .col-lg-4 {
        margin-top: 30px;
    }

    .details:not([open]) {
        height: 3em;
    }
    .details[open] {
        height: 20em;
    }

    .table td {
        vertical-align: middle!important;
    }

    details {
        padding-bottom: 10px;
        text-align: center;
    }

    summary {
        margin: 20px 0 0 0;
    }

    table {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }

    .details:not([open]) {
        height: 3.5em;
    }

    .map {
        margin: 40px -5px 5px 5px;
    }

    summary {
        margin: 30px 0 0 0;
    }
}

@media screen and (max-width: 542px) {
    .details[open] {
        height: 28em;
    }
}