<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<section class="container">
  <!--Contact heading-->

  <!--Contact description-->
  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ОАО "СП-Строй"<br>
        УНП 400051637<br>
        246031, Гомельская обл.,<br>
        г. Гомель, ул. Рабочая, д. 16
      </p>

      <h2 class="h4 m-0">
        Время работы:
      </h2>
      <p class="pb-0">
        пн-пт: 8:00 - 17:00<br>
        обед: 12:00 - 13:00<br>
        сб-вс: выходной
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        rsupsp@gmail.com
      </p>
    </div>
    <div class="col-lg-8 map">
      <div id="yMap"></div>
    </div>
  </div>
</section>