<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="d-block w-100"
          src="..\assets\img\gost-main.jpg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
        />
        <div class="container">
          <div class="carousel-caption text-right">
            <span id="t1">СТРОИМ С УМОМ!</span>
            <p></p>
            <span id="t2">ОАО "Гомельский объединённый строительный трест"</span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" src="..\assets\img\gost-main-2.jpg" alt="Второй слайд" />
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" src="..\assets\img\gost-main-2.jpg" alt="Третий слайд" />
      </div>
    </div>

    <!-- <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">
        Previous
      </span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">
        Next
      </span>
    </a> -->
  </div>

  <!-- <div class="border-main bg-dark">
    <div class="border-main-text">
      <p>
        <span class="word wisteria">НАША МИССИЯ – возвести строительную отрасль на качественно новый уровень, и стать ведущей строительной компанией в Республике Беларусь и за рубежом, показывая пример стабильности, качества выполнения строительных работ и обслуживания заказчиков.</span>
        <span class="word belize">СТРАТЕГИЧЕСКИЕ ЗАДАЧИ – Стратегия ОАО «Гомельский объединенный строительный трест» состоит в достижении и сохранении ведущих позиций по всем направлениям своей деятельности. Залог успешной работы и стабильности организации мы видим в постоянном наращивании опыта в сочетании с инновационным подходом к производственным вопросам.</span>
        <span class="word pomegranate">КОНКУРЕНТОСПОСОБНОСТЬ – Приоритетная задача компании – обеспечение долгосрочной конкурентоспособности. Именно поэтому в развитии организации немалое место отводится соблюдению стандартов работы, гарантиям взятых обязательств и уровню корпоративной ответственности.</span>
        <span class="word green">ЭФФЕКТИВНОСТЬ – Мы понимаем важность эффективной работы для процветания организации. Мы тратим много усилий для своевременных расчетов, снижения издержек и разумного использования кадрового потенциала. Поэтому нам удается предлагать нашим заказчикам и партнерам обоюдовыгодные условия работы.</span>
        <span class="word midnight">ИННОВАЦИИ – Организация нацелена на постоянное обновление и модернизацию, готова вкладывать средства в обучение сотрудников и освоение новых технологий.</span>
      </p>
    </div>
  </div> -->

  <div class="about-us-all">
    <div class="about-us-back">
      <div class="about-us">
        <div class="caption">
          <h1>
            <b>О НАС</b>
          </h1>
        </div>
        <div class="undercaption">
          <p></p>
          <p>
            Открытое акционерное общество «Гомельский объединенный строительный трест» является специализированным
            предприятием с более чем 40-летним опытом работы в строительной сфере. Трест входил в состав
            Главполесьеводстроя и был создан для строительства совхозов на мелиорируемых землях, а также
            производственных баз и объектов жилищно-гражданского назначения для мелиоративных организаций. Численность
            работающих общества составляет 919 человек.
          </p>
          <p></p>
          <p>
            Кадровый потенциал Общества составляют профессионалы своего дела, которые способны преодолевать любые
            трудности и находить нестандартные решения и в условиях высокой конкуренции способны строить качественно,
            быстро и за умеренную цену! В 2010 году предприятие признано «Лучшей строительной организацией» года.
          </p>
          <p></p>
          <p>
            Среднегодовая мощность предприятия составляет 38853 тыс.бел.руб.
          </p>
          <p></p>
          <p>
            Организация аккредитована сертификатом соответствия требованиям СТБ ISO 9001-2015.
          </p>
          <p></p>
          <p>
            <b><u>НАША МИССИЯ</u></b> – возвести строительную отрасль на качественно новый уровень и стать ведущей
            строительной компанией в Республике Беларусь и за рубежом, показывая пример стабильности, качества
            выполнения строительных работ и обслуживания заказчиков.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
