.about-us {
  padding: 15px;
}

.about-us .caption {
  transform: translateY(-100px);
  opacity: 0;
}

.about-us .undercaption {
  transform: translateY(200px);
  opacity: 0;
}

.about-us-all {
  background-image: url(../../assets/img/sp-main-2.jpg);
  background-size: cover;
  padding: 100px;
}

.about-us-back {
  background-color: bisque;
  opacity: 0.9;
  padding: 20px;
}

.content-table {
  padding: 10%;
}

.main-gallery {
  background-color: white;
}

.main-slideshow-text {
  margin-right: auto;
  text-align: end;
}

.main-slideshow-text h1 {
  color: white;
  font-size: 6em;
  font-weight: bold;
  opacity: 0.99;
  padding-right: 15%;
  text-shadow: 1px 1px 4px #ad4e4e;
}

.main-line {
  border-top: 1px solid #d5f3b3;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
  width: 200px;
}

.main-line-dark {
  border-top: 1px solid #16181a;
}

.main-slideshow,
.main-slideshow:after {
  width: 100%;
  height: 100%;
  left: 0px;
  list-style: none;
  opacity: 0.9;
  top: 0px;
  z-index: 0;
}
.main-slideshow:after {
  content: '';
  /* background: transparent url(../../assets/img/portfolio.jpg) repeat top left; */
}

.main-slideshow li:nth-child(2) div {
  animation-delay: 4s;
}
.main-slideshow li:nth-child(3) div {
  animation-delay: 8s;
}
.main-slideshow li:nth-child(4) div {
  animation-delay: 12s;
}
.main-slideshow li:nth-child(5) div {
  animation-delay: 16s;
}
.main-slideshow li:nth-child(6) div {
  animation-delay: 20s;
}
.main-slideshow li:nth-child(7) div {
  animation-delay: 24s;
}
.main-slideshow li:nth-child(8) div {
  animation-delay: 28s;
}
.main-slideshow li:nth-child(9) div {
  animation-delay: 32s;
}
.main-slideshow li:nth-child(10) div {
  animation-delay: 36s;
}
.main-slideshow li:nth-child(11) div {
  animation-delay: 40s;
}
.main-slideshow li:nth-child(12) div {
  animation-delay: 44s;
}

.main-slideshow li:nth-child(1) span {
  background-attachment: fixed;
  background-image: url(../../assets/img/sp-main-1.jpg);
}
.main-slideshow li:nth-child(2) span {
  animation-delay: 4s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-001.jpg);
}
.main-slideshow li:nth-child(3) span {
  animation-delay: 8s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-002.jpg);
}
.main-slideshow li:nth-child(4) span {
  animation-delay: 12s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-003.jpg);
}
.main-slideshow li:nth-child(5) span {
  animation-delay: 16s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-004.png)
}
.main-slideshow li:nth-child(6) span {
  animation-delay: 20s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-005.jpg);
}
.main-slideshow li:nth-child(7) span {
  animation-delay: 24s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-006.jpg);
}
.main-slideshow li:nth-child(8) span {
  animation-delay: 28s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-007.jpg);
}
.main-slideshow li:nth-child(9) span {
  animation-delay: 32s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-008.jpg);
}
.main-slideshow li:nth-child(10) span {
  animation-delay: 36s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-009.jpg);
}
.main-slideshow li:nth-child(11) span {
  animation-delay: 40s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-010.jpg);
}
.main-slideshow li:nth-child(12) span {
  animation-delay: 44s;
  background-attachment: fixed;
  background-image: url(../../assets/img/houses/house-011.jpg);
}

.main-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 24s linear infinite 0s;
}

.main-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 48s linear infinite 0s;
}

.main-slogan {
  font-size: 40pt;
  font-weight: 700;
  padding: 20px 0;
  text-align: center;
}

.main-slogan-dark {
  color: #16181a;
}

.main-slogan-white {
  color: white;
}

.main-view {
  padding: 20% 0;
  background-color: white;
  max-height: 700px;
  overflow: hidden;
  position: relative;
}

.pdf a {
  color: white;
  font-size: 14pt;
}
.pdf a:hover {
  color: #d5f3b3;
}

.rw-sentence {
  color: #ad4e4e;
  font-size: 2.8em;
  text-align: left;
  text-shadow: 1px 1px 4px black;
}

.rw-words span {
  animation: rotateWordsSecond 15s linear infinite 0s;
  font-size: 1em;
  font-weight: 0.2;
  max-width: 85%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: right;
  white-space: nowrap;
}
.rw-words span:nth-child(2) {
  animation-delay: 0.5s;
}
.rw-words span:nth-child(3) {
  animation-delay: 5.25s;
}
.rw-words span:nth-child(4) {
  animation-delay: 6s;
}
.rw-words span:nth-child(5) {
  animation-delay: 10.25s;
}

.slider {
  font-size: 30pt;
  text-align-last: center;
}

.slider a {
  padding-right: 50px;
}

.text-1 {
  color: #009236;
  font-size: 2.8em;
  font-style: italic;
  font-weight: bold;
}

.text-2 {
  font-size: 1.4em;
}

.undercaption {
  color: #16181a;
}

.w-100 {
  min-height: 800px;
}

#myCarousel {
  height: 800px;
}

#t1 {
  font-size: 66px;
  font-weight: 400;
}

#t2 {
  font-size: 36px;
}

@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes rotateWordsSecond {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    width: 0px;
  }
  5% {
    opacity: 0.3;
    width: 0px;
  }
  10% {
    opacity: 1;
    width: 100%;
  }
  30% {
    opacity: 1;
    width: 100%;
  }
  35% {
    animation-timing-function: linear;
    opacity: 0.3;
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% { opacity: 0; }
  8% { opacity: 1; }
  17% { opacity: 1; }
  19% { opacity: 0; }
  100% { opacity: 0; }
}

@media screen and (max-width: 1024px) {
  .about-us-all {
    padding: 70px;
  }

  .rw-sentence {
    font-size: calc(3.5vw + 6px);
  }

  .rw-words span {
    padding-right: 6%;
  }
}

@media screen and (max-width: 768px) {
  .about-us-all {
    padding: 40px;
  }

  .main-img-text h1 {
    font-size: 4.5em;
  }

  .rw-words {
    line-height: 1.7em;
  }

  .rw-words span {
    padding-right: 6.5%;
  }

  .main-img-text-space {
    height: 325px;
  }
}

@media screen and (max-width: 480px) {
  .about-us-all {
    padding: 0px;
  }
}
