<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<main role="main">
  <section class="main-view">
    <ul class="main-slideshow">
      <li><span>Image 01</span><div></div></li>
      <li><span>Image 02</span><div></div></li>
      <li><span>Image 03</span><div></div></li>
      <li><span>Image 04</span><div></div></li>
      <li><span>Image 05</span><div></div></li>
      <li><span>Image 06</span><div></div></li>
      <li><span>Image 07</span><div></div></li>
      <li><span>Image 08</span><div></div></li>
      <li><span>Image 09</span><div></div></li>
      <li><span>Image 10</span><div></div></li>
      <li><span>Image 11</span><div></div></li>
      <li><span>Image 12</span><div></div></li>
    </ul>

    <div class="main-slideshow-text">
      <h1>СП-Строй</h1>
      <h2 class="rw-sentence">
        <div class="rw-words">
          <span>Выполнение функций</span>
          <span><br />генподрядчика</span>
          <span>Производство товарных бетонов</span>
          <span><br />и растворов</span>
          <span>Производство блоков ФБС</span>
        </div>
      </h2>
    </div>
  </section>

  <div class="about-us-all">
    <div class="about-us-back">
      <div class="about-us">
        <div class="caption">
          <h1>
            О НАС
          </h1>
        </div>
        <div class="undercaption">
          <p></p>
          <p>
            До 19 ноября 2015 года в соответствии с уставом общество являлось
            дочерней компанией холдинга "Гомсельмаш". С 19 ноября 2015 года
            акции общества были переданы в коммунальную собственность Гомельской
            области – в управление государственному учреждению "Гомельское
            областное управление строительным комплексом".
          </p>
          <p></p>
          <p>
            В настоящее время ОАО "СП-Строй" представляет собой предприятие,
            имеющее:
          </p>
          <p>
            - коллектив опытных инженерно-технических работников;
          </p>
          <p>
            - квалифицированных рабочих (каменщиков, маляров, штукатуров,
            облицовщиков-плиточников, электромонтажников, плотников и др.);
          </p>
          <p>
            - современную материально-техническую базу;
          </p>
          <p>
            - необходимые производственные мощности.
          </p>
          <p></p>
          <p>
            ОАО "СП-Строй" выполняет ремонтно-строительные работы, изготовление
            сборных железобетонных конструкций и изделий, изготавливает товарные
            бетоны, цементные растворы и деревянные изделия.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="main-gallery">
    <div class="main-slogan main-slogan-dark">НАШИ ОБЪЕКТЫ</div>
    <div class="main-line main-line-dark"></div>
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-md-4 col-sm-6 col-xs-6" *ngFor="let card of item; let cardIndex = index">
          <mdb-card class="my-1">
            <mdb-card-img [src]="card.img" alt="Card image cap" [class]="minimized" class="minimized"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h4>{{card.title}}</h4>
              </mdb-card-title>
              <p>{{card.description}}</p>
              <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</main>
