.about-us {
  padding: 15px;
}

.about-us .caption {
  transform: translateY(-100px);
  opacity: 0;
}

.about-us .undercaption {
  transform: translateY(200px);
  opacity: 0;
}

.about-us-all {
  background-image: url(../../assets/img/sp-main-2.jpg);
  background-size: cover;
  padding: 100px;
}

.about-us-back {
  background-color: bisque;
  opacity: 0.9;
  padding: 20px;
}

.border-main {
  height: 20px;
  margin-top: -65px;
}

.content-table {
  padding: 10%;
}

.main-img {
  background: url(../../assets/img/sp-main-1.jpg);
  background-position: center center;
  background-repeat: no-repeat; /* Фон не повторяется */
  /* background-attachment: fixed; Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */
  background-size: cover; /* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/
  min-height: 700px;
}

.main-img-text {
  margin-right: auto;
  text-align: end;
}

.main-img-text h1 {
  color: white;
  font-size: 6em;
  font-weight: bold;
  text-shadow: 1px 1px 4px #ad4e4e;
}

.main-img-text-space {
  height: 275px;
}

/* .rw-wrapper {
  width: 80%;
  position: relative;
  margin: 110px auto 0 auto;
  font-family: "Bree Serif";
  padding: 10px;
} */

.rw-sentence {
  color: #ad4e4e;
  font-size: 2.8em;
  text-align: left;
  text-shadow: 1px 1px 4px black;
}

/* .rw-words {
  display: inline;
} */

.rw-words span {
  animation: rotateWordsSecond 15s linear infinite 0s;
  font-size: 1em;
  font-weight: 0.2;
  max-width: 85%;
  opacity: 0;
  overflow: hidden;
  padding-right: 5.5%;
  position: absolute;
  text-align: right;
  white-space: nowrap;
}

/* .rw-words-1 span {
  animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words-2 span {
  animation: rotateWordsSecond 18s linear infinite 0s;
} */
.rw-words span:nth-child(2) {
  animation-delay: 0.5s;
}
.rw-words span:nth-child(3) {
  animation-delay: 5.25s;
}
.rw-words span:nth-child(4) {
  animation-delay: 6s;
}
.rw-words span:nth-child(5) {
  animation-delay: 10.25s;
}

/* @keyframes rotateWordsFirst {
  0% {
    opacity: 1;
    animation-timing-function: ease-in;
    height: 0px;
  }
  8% {
    opacity: 1;
    height: 60px;
  }
  19% {
    opacity: 1;
    height: 60px;
  }
  25% {
    opacity: 0;
    height: 60px;
  }
  100% {
    opacity: 0;
  }
} */

@keyframes rotateWordsSecond {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    width: 0px;
  }
  5% {
    opacity: 0.3;
    width: 0px;
  }
  10% {
    opacity: 1;
    width: 100%;
  }
  30% {
    opacity: 1;
    width: 100%;
  }
  35% {
    animation-timing-function: linear;
    opacity: 0.3;
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .about-us-all {
    padding: 70px;
  }

  .rw-sentence {
    font-size: calc(3.5vw + 6px);
  }

  .rw-words span {
    padding-right: 6%;
  }
}

@media screen and (max-width: 768px) {
  .about-us-all {
    padding: 40px;
  }

  .main-img-text h1 {
    font-size: 4.5em;
  }

  .rw-words {
    line-height: 1.7em;
  }

  .rw-words span {
    padding-right: 6.5%;
  }

  .main-img-text-space {
    height: 325px;
  }
}

@media screen and (max-width: 480px) {
  .about-us-all {
    padding: 0px;
  }
}
