<div class="services">
  <div class="services-space"></div>

  <div class="services-body">
    <div class="services-caption">
      <h1>
        <b>НАШИ УСЛУГИ</b>
      </h1>
    </div>
    <div class="services-text">
      <div class="services-undercaption">
        <ul>
          <li>
            Общестроительные работы
          </li>
          <li>
            Специальные работы
            <ul>
              <li>
                Электроснабжение
              </li>
              <li>
                Монтажные работы
              </li>
              <li>
                Сантехнические работы
              </li>
              <li>
                Благоустройство
              </li>
            </ul>
          </li>
          <li>
            Производство и реализация товарных бетонов и растворов
          </li>
          <li>
            Производство и реализация блоков ФБС
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="services-space"></div>
</div>
