<div class="services">
  <div class="services-space"></div>

  <div class="services-body">
    <div class="services-caption">
      <h1>
        <b>НАШИ УСЛУГИ</b>
      </h1>
    </div>
    <div class="services-text">
      <div class="services-undercaption">
        <ul>
          <li>
            Общестроительные работы
          </li>
          <li>
            Специальные работы
            <ul>
              <li>
                Электроснабжение
              </li>
              <li>
                Монтажные работы
              </li>
              <li>
                Сантехнические работы
              </li>
              <li>
                Благоустройство
              </li>
            </ul>
          </li>
          <li class="price-list">
            <details>
              <summary>Производство и реализация товарных бетонов и растворов</summary>
              <table>
                <tr class="table-start">
                  <th># п/п</th>
                  <th>Наименование продукции</th>
                  <th>Ед. изм.</th>
                  <th>Отпускная цена без НДС, BYN</th>
                  <th>Отпускная цена с НДС, BYN</th>
                </tr>
          
                <tr>
                  <th>1</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 28/35 (М450) F200 W6 П1-4 см
                  </th>
                  <th>м. куб.</th>
                  <th>130,19</th>
                  <th>156,23</th>
                </tr>
                <tr>
                  <th>2</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 28/35 (М450) F200 W6 П5-9 смесей
                  </th>
                  <th>м. куб.</th>
                  <th>137,41</th>
                  <th>164,89</th>
                </tr>
                <tr>
                  <th>3</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 25/30 (М400) F200 W6 П1-4 см
                  </th>
                  <th>м. куб.</th>
                  <th>124,01</th>
                  <th>148,81</th>
                </tr>
                <tr>
                  <th>4</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 25/30 (М400) F200 W6 П5-9 см
                  </th>
                  <th>м. куб.</th>
                  <th>131,00</th>
                  <th>157,20</th>
                </tr>
                <tr>
                  <th>5</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 22/27,5 (М350) F150 W4 П1-4 см
                  </th>
                  <th>м. куб.</th>
                  <th>120,92</th>
                  <th>145,10</th>
                </tr>
                <tr>
                  <th>6</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 22/27,5 (М350) F150 W4 П5-9 см
                  </th>
                  <th>м. куб.</th>
                  <th>126,33</th>
                  <th>151,60</th>
                </tr>
                <tr>
                  <th>7</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 22/27,5 (М350) F150 W4 П5-9 см
                  </th>
                  <th>м. куб.</th>
                  <th>117,82</th>
                  <th>141,38</th>
                </tr>
                <tr>
                  <th>8</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 20/25 (М350) F150 W4 П5-9 см
                  </th>
                  <th>м. куб.</th>
                  <th>124,89</th>
                  <th>149,87</th>
                </tr>
                <tr>
                  <th>9</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 18/22,5 (М300) F100 W4 П1-4 см
                  </th>
                  <th>м. куб.</th>
                  <th>106,55</th>
                  <th>127,86</th>
                </tr>
                <tr>
                  <th>10</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 18/22,5 (М300) F100 W4 П5-9 см
                  </th>
                  <th>м. куб.</th>
                  <th>115,18</th>
                  <th>138,22</th>
                </tr>
                <tr>
                  <th>11</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 16/20 (М250) F75 W2 П1-4 см
                  </th>
                  <th>м. куб.</th>
                  <th>106,20</th>
                  <th>127,44</th>
                </tr>
                <tr>
                  <th>12</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 16/20 (М250) F75 W2 П5-9 см
                  </th>
                  <th>м. куб.</th>
                  <th>110,74</th>
                  <th>132,89</th>
                </tr>
                <tr>
                  <th>13</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 12/15 (М200) F75 П1-4 см
                  </th>
                  <th>м. куб.</th>
                  <th>97,36</th>
                  <th>116,83</th>
                </tr>
                <tr>
                  <th>14</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 12/15 (М200) F75 П5-9 см
                  </th>
                  <th>м. куб.</th>
                  <th>102,27</th>
                  <th>122,72</th>
                </tr>
                <tr>
                  <th>15</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 8/10 (М150) F50 П1-4 см
                  </th>
                  <th>м. куб.</th>
                  <th>94,08</th>
                  <th>112,90</th>
                </tr>
                <tr>
                  <th>16</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм С 8/10 (М150) F50 П5-9 см
                  </th>
                  <th>м. куб.</th>
                  <th>95,67</th>
                  <th>114,80</th>
                </tr>
                <tr>
                  <th>17</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм В 7,5 (М100) F35 П1-4 см
                  </th>
                  <th>м. куб.</th>
                  <th>92,58</th>
                  <th>111,10</th>
                </tr>
                <tr>
                  <th>18</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 20-40 мм В 7,5 (М100) F35 П5-9 см
                  </th>
                  <th>м. куб.</th>
                  <th>94,21</th>
                  <th>113,05</th>
                </tr>
                <tr>
                  <th>19</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 28/35 (М450) F200 W6 П1
                  </th>
                  <th>м. куб.</th>
                  <th>128,24</th>
                  <th>153,89</th>
                </tr>
                <tr>
                  <th>20</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 28/35 (М450) F200 W6 П2
                  </th>
                  <th>м. куб.</th>
                  <th>131,59</th>
                  <th>157,91</th>
                </tr>
                <tr>
                  <th>21</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 25/30 (М400) F200 W6 П1
                  </th>
                  <th>м. куб.</th>
                  <th>126,00</th>
                  <th>151,20</th>
                </tr>
                <tr>
                  <th>22</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 25/30 (М400) F200 W6 П2
                  </th>
                  <th>м. куб.</th>
                  <th>128,71</th>
                  <th>154,45</th>
                </tr>
                <tr>
                  <th>23</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 22/27,5 (М350) F150 W4 П1
                  </th>
                  <th>м. куб.</th>
                  <th>116,79</th>
                  <th>140,15</th>
                </tr>
                <tr>
                  <th>24</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 22/27,5 (М350) F150 W4 П2
                  </th>
                  <th>м. куб.</th>
                  <th>122,72</th>
                  <th>147,26</th>
                </tr>
                <tr>
                  <th>25</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 20/25 (М350) F150 W4 П1
                  </th>
                  <th>м. куб.</th>
                  <th>114,61</th>
                  <th>137,53</th>
                </tr>
                <tr>
                  <th>26</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 20/25 (М350) F150 W4 П2
                  </th>
                  <th>м. куб.</th>
                  <th>119,75</th>
                  <th>143,70</th>
                </tr>
                <tr>
                  <th>27</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 18/22,5 (М300) F100 W4 П1
                  </th>
                  <th>м. куб.</th>
                  <th>113,77</th>
                  <th>136,52</th>
                </tr>
                <tr>
                  <th>28</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 18/22,5 (М300) F100 W4 П2
                  </th>
                  <th>м. куб.</th>
                  <th>116,56</th>
                  <th>139,87</th>
                </tr>
                <tr>
                  <th>29</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 16/20 (М250) F75 W2 П1
                  </th>
                  <th>м. куб.</th>
                  <th>103,41</th>
                  <th>124,09</th>
                </tr>
                <tr>
                  <th>30</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 16/20 (М250) F75 W2 П2
                  </th>
                  <th>м. куб.</th>
                  <th>106,78</th>
                  <th>128,14</th>
                </tr>
                <tr>
                  <th>31</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 12/15 (М200) F75 П1
                  </th>
                  <th>м. куб.</th>
                  <th>97,38</th>
                  <th>116,86</th>
                </tr>
                <tr>
                  <th>32</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 12/15 (М200) F75 П2
                  </th>
                  <th>м. куб.</th>
                  <th>100,75</th>
                  <th>120,90</th>
                </tr>
                <tr>
                  <th>33</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 8/10 (М150) F50 П1
                  </th>
                  <th>м. куб.</th>
                  <th>96,32</th>
                  <th>115,58</th>
                </tr>
                <tr>
                  <th>34</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм С 8/10 (М150) F50 П2
                  </th>
                  <th>м. куб.</th>
                  <th>96,72</th>
                  <th>116,06</th>
                </tr>
                <tr>
                  <th>35</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм В 7,5 (М100) F35 П1
                  </th>
                  <th>м. куб.</th>
                  <th>96,32</th>
                  <th>115,58</th>
                </tr>
                <tr>
                  <th>36</th>
                  <th class="table-price-name">
                    Бетонная смесь с круп.зап. 5-20 мм В 7,5 (М100) F35 П2
                  </th>
                  <th>м. куб.</th>
                  <th>95,93</th>
                  <th>115,12</th>
                </tr>
                <tr>
                  <th>37</th>
                  <th class="table-price-name">
                    РСГП, кладочная, цементная, Пк2 М200
                  </th>
                  <th>м. куб.</th>
                  <th>95,47</th>
                  <th>114,56</th>
                </tr>
                <tr>
                  <th>38</th>
                  <th class="table-price-name">
                    РСГП, кладочная, цементная, Пк2 М150
                  </th>
                  <th>м. куб.</th>
                  <th>81,85</th>
                  <th>98,22</th>
                </tr>
                <tr>
                  <th>39</th>
                  <th class="table-price-name">
                    РСГП, кладочная, цементная, Пк2 М100
                  </th>
                  <th>м. куб.</th>
                  <th>67,91</th>
                  <th>81,49</th>
                </tr>
                <tr>
                  <th>40</th>
                  <th class="table-price-name">
                    РСГП, кладочная, цементная, Пк2 М75
                  </th>
                  <th>м. куб.</th>
                  <th>63,21</th>
                  <th>75,85</th>
                </tr>
                <tr>
                  <th>41</th>
                  <th class="table-price-name">
                    РСГП, кладочная, цементная, Пк2 М50
                  </th>
                  <th>м. куб.</th>
                  <th>59,44</th>
                  <th>71,33</th>
                </tr>
              </table>
            </details>
          </li>
          <li>
            Производство и реализация блоков ФБС
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="services-space"></div>
</div>
