.price-list {
  list-style-type: none;
  margin-left: -28px;
}

.services {
  background-image: url(../../../assets/img/sp-main-3.jpg);
  background-position: left top;
  background-repeat: repeat;
  -moz-background-size: 115%; /* Firefox 3.6+ */
  -webkit-background-size: 115%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 115%; /* Opera 9.6+ */
  background-size: 115%;
  min-height: calc(100vh - 599px);
}

.services-body {
  background-color: bisque;
  margin: 0 80px;
  opacity: 0.95;
}

.services-caption {
  background-color: black;
  color: #ad4e4e;
  padding: 20px 40px;
}

.services-space {
  height: 50px;
}

.services-text {
  padding: 20px 40px;
}

.services-undercaption {
  margin-top: 20px;
  font-size: 20pt;
  line-height: 2em;
}

.table-start-1, .table-start-3 {
  width: 8%;
}
.table-start-2 {
  width: 48%;
}
.table-start-4, .table-start-5 {
  width: 18%;
}

.table-price-name {
  padding: 0 10px;
  text-align: left!important;
}

.table-start th {
  font-weight: bold!important;
}

.details-1, .details-2 {
  transition: height 1s ease;
}
.details-1:not([open]), .details-2:not([open]) {
  height: 2.15em;
}
.details-1[open] {
  height: 22.5em;
}
.details-2[open] {
  height: 13.5em;
}
.details-1[open] table, .details-2[open] table {
	animation-name: invisiblyGrowFontSize, fadeIn;
  animation-duration: 500ms, 200ms;
  animation-delay: 0ms, 500ms;
}

summary:active, summary:hover, summary:focus {
  outline: none;
  outline-offset: none;
}
summary:hover {
  color: #ad4e4e;
}

table, td, th {
  border: 1px solid black;
  border-spacing: 5px;
  font-size: 12pt;
  line-height: 1.5em;
  margin: 20px;
}

th {
  font-weight: 400;
  min-width: 50px;
  text-align: center;
}

@keyframes invisiblyGrowFontSize {
	0% {
    font-size: 0;
    opacity: 0;
	}
	100% {
    font-size: 1em;
    opacity: 0;
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 1040px) {
  .details-1:not([open]) {
    height: 4em;
  }
  .details-1[open] {
    height: 24.35em;
  }
}

@media screen and (max-width: 1024px) {
  .details-1:not([open]) {
    height: 2.15em;
  }
  .details-1[open] {
    height: 100%;
  }
  .details-2[open] {
    height: 100%;
  }

  .services {
    -moz-background-size: 150%; /* Firefox 3.6+ */
    -webkit-background-size: 150%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 150%; /* Opera 9.6+ */
    background-size: 150%;
  }

  .services-body {
    margin: 0 60px;
  }

  .services-space {
    height: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .details-1:not([open]) {
    height: 4em;
  }
}

@media screen and (max-width: 768px) {
  .details-2 {
    margin-bottom: 35px;
  }

  .services {
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    background-position: bottom;
  }

  .services-body {
    margin: 0;
  }

  .services-space {
    height: 40px;
  }

  .services-text {
    padding: 10px 20px;
  }

  table {
    margin: 10px 5px 10px 0;
  }
}
