<div class="services">
  <div class="services-space"></div>

  <div class="services-body">
    <div class="services-caption">
      <h1>
        <b>НАШИ УСЛУГИ</b>
      </h1>
    </div>
    <div class="services-text">
      <div class="services-undercaption">
        <ul>
          <li>
            Общестроительные работы
          </li>
          <li>
            Специальные работы
            <ul>
              <li>
                Электроснабжение
              </li>
              <li>
                Монтажные работы
              </li>
              <li>
                Сантехнические работы
              </li>
              <li>
                Благоустройство
              </li>
            </ul>
          </li>
          <li class="price-list">
            <details class="details-1">
              <summary>Производство и реализация товарных бетонов и растворов</summary>
              <table>
                <tr class="table-start">
                  <th class="table-start-1"># п/п</th>
                  <th class="table-start-2">Наименование продукции</th>
                  <th class="table-start-3">Ед. изм.</th>
                  <th class="table-start-4">Отпускная цена без НДС, BYN</th>
                  <th class="table-start-5">Отпускная цена с НДС, BYN</th>
                </tr>
          
                <tr>
                  <th>1</th>
                  <th class="table-price-name">
                    Раствор цементный М50
                  </th>
                  <th>м. куб.</th>
                  <th>58,03</th>
                  <th>69,64</th>
                </tr>
                <tr>
                  <th>2</th>
                  <th class="table-price-name">
                    Раствор цементный М75
                  </th>
                  <th>м. куб.</th>
                  <th>62,08</th>
                  <th>74,50</th>
                </tr>
                <tr>
                  <th>3</th>
                  <th class="table-price-name">
                    Раствор цементный М100
                  </th>
                  <th>м. куб.</th>
                  <th>66,99</th>
                  <th>80,39</th>
                </tr>
                <tr>
                  <th>4</th>
                  <th class="table-price-name">
                    Раствор цементный М150
                  </th>
                  <th>м. куб.</th>
                  <th>81,49</th>
                  <th>97,79</th>
                </tr>
                <tr>
                  <th>5</th>
                  <th class="table-price-name">
                    Раствор цементный М200
                  </th>
                  <th>м. куб.</th>
                  <th>95,83</th>
                  <th>115,00</th>
                </tr>
                <tr>
                  <th>6</th>
                  <th class="table-price-name">
                    Бетон С 7,5 (М100) фр. 20-40 мм
                  </th>
                  <th>м. куб.</th>
                  <th>75,66</th>
                  <th>90,79</th>
                </tr>
                <tr>
                  <th>7</th>
                  <th class="table-price-name">
                    Бетон С 8/10 (М150) фр. 20-40 мм
                  </th>
                  <th>м. куб.</th>
                  <th>77,25</th>
                  <th>92,70</th>
                </tr>
                <tr>
                  <th>8</th>
                  <th class="table-price-name">
                    Бетон С 12/15 (М200) фр. 20-40 мм
                  </th>
                  <th>м. куб.</th>
                  <th>84,01</th>
                  <th>100,81</th>
                </tr>
                <tr>
                  <th>9</th>
                  <th class="table-price-name">
                    Бетон С 16/20 (М250) фр. 20-40 мм
                  </th>
                  <th>м. куб.</th>
                  <th>93,29</th>
                  <th>111,95</th>
                </tr>
                <tr>
                  <th>10</th>
                  <th class="table-price-name">
                    Бетон С 18/22,5 (М300) фр. 20-40 мм
                  </th>
                  <th>м. куб.</th>
                  <th>98,36</th>
                  <th>118,03</th>
                </tr>
                <tr>
                  <th>11</th>
                  <th class="table-price-name">
                    Бетон С 25/30 (М400) фр. 20-40 мм
                  </th>
                  <th>м. куб.</th>
                  <th>115,21</th>
                  <th>138,25</th>
                </tr>
                <tr>
                  <th>12</th>
                  <th class="table-price-name">
                    Бетон С 7,5 (М100) фр. 5-20 мм
                  </th>
                  <th>м. куб.</th>
                  <th>106,72</th>
                  <th>128,06</th>
                </tr>
                <tr>
                  <th>13</th>
                  <th class="table-price-name">
                    Бетон С 8/10 (М150) фр. 5-20 мм
                  </th>
                  <th>м. куб.</th>
                  <th>107,54</th>
                  <th>129,05</th>
                </tr>
                <tr>
                  <th>14</th>
                  <th class="table-price-name">
                    Бетон С 12/15 (М200) фр. 5-20 мм
                  </th>
                  <th>м. куб.</th>
                  <th>111,61</th>
                  <th>133,93</th>
                </tr>
                <tr>
                  <th>15</th>
                  <th class="table-price-name">
                    Бетон С 16/20 (М250) фр. 5-20 мм
                  </th>
                  <th>м. куб.</th>
                  <th>117,89</th>
                  <th>141,47</th>
                </tr>
                <tr>
                  <th>16</th>
                  <th class="table-price-name">
                    Бетон С 18/22,5 (М300) фр. 5-20 мм
                  </th>
                  <th>м. куб.</th>
                  <th>128,08</th>
                  <th>153,70</th>
                </tr>
                <tr>
                  <th>17</th>
                  <th class="table-price-name">
                    Бетон С 25/30 (М400) фр. 5-20 мм
                  </th>
                  <th>м. куб.</th>
                  <th>140,83</th>
                  <th>169,00</th>
                </tr>
              </table>
            </details>
          </li>
          <li class="price-list">
            <details class="details-2">
              <summary>Производство и реализация блоков ФБС</summary>
              <table>
                <tr class="table-start">
                  <th class="table-start-1"># п/п</th>
                  <th class="table-start-2">Наименование продукции</th>
                  <th class="table-start-3">Ед. изм.</th>
                  <th class="table-start-4">Отпускная цена без НДС, BYN</th>
                  <th class="table-start-5">Отпускная цена с НДС, BYN</th>
                </tr>
          
                <tr>
                  <th>1</th>
                  <th class="table-price-name">
                    Блок ФБС 12.3.6  М150
                  </th>
                  <th>м. куб.</th>
                  <th>33,54</th>
                  <th>40,25</th>
                </tr>
                <tr>
                  <th>2</th>
                  <th class="table-price-name">
                    Блок ФБС 12.4.6  М150
                  </th>
                  <th>м. куб.</th>
                  <th>43,91</th>
                  <th>52,69</th>
                </tr>
                <tr>
                  <th>3</th>
                  <th class="table-price-name">
                    Блок ФБС 12.5.6  М150
                  </th>
                  <th>м. куб.</th>
                  <th>51,22</th>
                  <th>61,46</th>
                </tr>
                <tr>
                  <th>4</th>
                  <th class="table-price-name">
                    Блок ФБС 12.6.6  М150
                  </th>
                  <th>м. куб.</th>
                  <th>60,99</th>
                  <th>73,19</th>
                </tr>
                <tr>
                  <th>5</th>
                  <th class="table-price-name">
                    Блок ФБС 24.3.6  М150
                  </th>
                  <th>м. куб.</th>
                  <th>64,40</th>
                  <th>77,28</th>
                </tr>
                <tr>
                  <th>6</th>
                  <th class="table-price-name">
                    Блок ФБС 24.4.6  М150
                  </th>
                  <th>м. куб.</th>
                  <th>84,46</th>
                  <th>101,35</th>
                </tr>
                <tr>
                  <th>7</th>
                  <th class="table-price-name">
                    Блок ФБС 24.5.6  М150
                  </th>
                  <th>м. куб.</th>
                  <th>101,99</th>
                  <th>122,39</th>
                </tr>
                <tr>
                  <th>8</th>
                  <th class="table-price-name">
                    Блок ФБС 24.6.6  М150
                  </th>
                  <th>м. куб.</th>
                  <th>121,92</th>
                  <th>146,30</th>
                </tr>
              </table>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="services-space"></div>
</div>
